#logo-name {
    font-family: sans-serif;
    margin-top: 25px;
}

@media ( min-width: 1024px) {
    .adaptive-button {
        font-size: 30px !important;
        padding: 20px 65px !important;
    }
}

@media ( min-width: 720px) and ( max-width: 1023px) {
    .adaptive-button {
        font-size: 25px !important;
        padding: 15px 55px !important;
    }
}

@media ( min-width: 420px) and ( max-width: 719px) {
    .adaptive-button {
        font-size: 25px !important;
        padding: 12px 45px !important;
    }
}

.step-img {
    width: 300px;
    height: 300px;
}

.counter {
    color: white !important;
}

.standart-input {
    width: 100%;
}

a.standart-input {
    text-decoration: none;
    display: inline-block;
}

.standart-input {
    border: 2px solid #f7cc4b;
    background: transparent;
    text-indent: 10px;
    border-radius: 4px;
}

a.middle-input {
    padding-top: 10px;
    padding-bottom: 10px;
}

a.large-input {
    padding-top: 20px;
    padding-bottom: 20px;
}

.middle-input {
    height: 40px;
}

.large-input {
    height: 60px;
}

.standart-button {
    background: #f7cc4b;
    border: 2px solid #f7cc4b;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
}

.inverse-button {
    border: 2px solid #222;
    width: 100%;
    background: #222;
    color: #fff;
    border-radius: 4px;
}

.inverse-button:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #f7cc4b;
}

.inverse-color-input {
    border: 2px solid #fff;
    color: #fff;
    text-indent: 10px;
    border-radius: 4px;
}

.box-for-anonymous-user {
    height: 200px;
}

.box-for-anonymous-user .big-side {
    height: 100%;
    text-align: center;
}

.box-for-anonymous-user .big-side a {
    position: relative;
    top: 50%;
    margin-top: -150px;
}

.verical-hr {
    border-left: 1px solid #000;
    height: 100%;
    width: 1px;
    margin: 0 auto;
}

@media (max-width: 720px) {
    .remove-on-small {
        display: none;
    }
}

@media (min-width: 720px) {
    .show-on-small {
        display: none;
    }
}

.back-button {
    position: relative;
    left: -120px;
}