@model IEnumerable<Octopus_project.Models.Photo>
@{
    ViewBag.Title = "Octopus Demo";
}

<script>
        $(function () {
            $('#cbp-fwslider').cbpFWSlider({
                // default transition speed (ms)
                speed: 1000,
                // default transition easing
                easing: 'ease'
            });
        });
</script>
<header class="header">
    <div class="top-bar">
        <div class="container">
            <div class="site-title">
                <img src="Content/site-title.png" alt="site-title" />
                <!--<a href="#">Skewed</a>-->
            </div>
            <nav class="nav-collapse">

                <!--Main menu-->
                <ul class="top-nav">
                    <li><a href="#">Main</a></li>
                    <li><a href="#uploadPhoto">Upload</a></li>
                    <li><a href="#discoveryPhoto">Discvoer</a></li>
                    <li><a href="#howItWorks">How it works</a></li>
                    <li><a href="#Subscribe">Subscribe</a></li>

                </ul>
            </nav>
            <script>
                    var navigation = responsiveNav(".nav-collapse");
            </script>
        </div>
    </div>
</header>




<!--Section for Uppload photoes-->
<a name="uploadPhoto"></a>
<section>

    <div class="container-12">
        <div class="text-block-center">
            <div class="appendix"></div>
            <form class="mailing-list" method="post" enctype="multipart/form-data">

                <div class="grid-6">
                    <h2>Upload photo</h2>
                    <p class="subheading">Just write your name, choose the photo by clicking on uppload button and click "Send"</p>
                    <div class="grid-3">
                        <input type="text" name="PublisherName" required placeholder="Your name" id="userNameTextBox" />
                        <!--Input for name-->
                    </div>
                    <div class="grid-3">
                        <input type="text" name="PublisherSurname" required placeholder="Your surname" id="userSurameTextBox" />
                        <!--Input for surname-->
                    </div>
                </div>

                <!--Div for uppload button (Codrops)-->
                <div class="box">
                    <input type="file" accept="image/jpeg,image/png" required name="File" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple="">
                    <label for="file-5" id="uploadLabel">
                        <figure>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                            </svg>
                        </figure> <span>Choose a file…</span>
                    </label>
                </div>

                <div class="grid-2">
                    <input type="submit" name="" value="Send" />
                </div>

            </form>
            <div class="clear"></div>
        </div>
    </div>
</section>





<!--Discovery photo section(Maybe rename this section)-->
<a name="discoveryPhoto"></a>
<section class="alt-background skew-top-ccw skew-bottom-ccw">
    <div class="container-12">
        <script>
                $(document).ready(function () {
                    $("a[rel^='prettyPhoto']").prettyPhoto({
                        deeplinking: false,
                        social_tools: false
                    });
                });
        </script>
        <div class="text-block-center">
            <h2>Discover the photos</h2>
            <p class="subheading">We are waiting for your likes</p>
        </div>
    </div>
    <div id="owl-portfolio">

        @foreach (var photo in Model)
        {
            <div class="portfolio-item animated flipInX wow vote" data-wow-delay="500ms">
                <a href="Content/@photo.Path" rel="prettyPhoto">
                    <img src="Content/@photo.Path" alt="" />
                    <span class="zoom-icon fa fa-search"></span>
                </a>
                @if (ViewBag.Likes.Contains(photo.PhotoId.ToString()))
                {
                    <p class="job-role">
                        <img src="Content/liked.png" alt="" /> Like +<span class="like">@photo.Likes</span>
                    </p>
                }
                else
                {
                    <a href="~/Home/Like?photoId=@photo.PhotoId">
                        <p class="job-role">
                            <img src="Content/like.png" alt="" /> Like +<span>@photo.Likes</span>
                        </p>
                    </a>
                }
                <h4>@photo.PublisherSurname @photo.PublisherName</h4>
            </div>
        }
    </div>

    <!--Some script for image annimation! DONT TOUCH and DONT CHANGE ITS POSITION-->
    <script>
            $(document).ready(function () {
                $("#owl-portfolio").owlCarousel({
                    items: 4
                });
            });
    </script>
    <div class="clear"></div>
</section>
<!--The end of section-->
<!--How It Works? section-->
<a name="howItWorks"></a>
<section>
    <div class="container-12">
        <div class="text-block-center">
            <h2>How it works?</h2>
            <p class="subheading">Just 3 steps</p>
            <p>1)The speaker creates the challenge</p>
            <p>2)You meet it by publishing the photo</p>
            <p>3)The winner will be chosen by community</p>
            <a href="#uploadPhoto" class="button">Try it now!</a>
        </div>
        <div class="clear"></div>
    </div>
</section>



<!--Subscribe section-->
<a name="Subscribe"></a>
<section class="alt-background skew-top-cw" style="padding-bottom: 80px;">
    <div class="container-12">
        <div class="text-block-center">
            <h2>Keep Up To Date</h2>
            <p class="subheading">Subscribe to our mailing list</p>
        </div>
        <form class="mailing-list">
            <div class="grid-2">
                &nbsp;
            </div>
            <div class="grid-3">
                <input type="text" name="" placeholder="Your name" required />
            </div>
            <div class="grid-3">
                <input type="text" name="" placeholder="Email address" required />
            </div>
            <div class="grid-2">
                <input type="submit" name="" value="Subscribe" />
            </div>
            <div class="grid-2">
                &nbsp;
            </div>
            <div class="clear"></div>
        </form>
    </div>
</section>




<footer class="footer">
    <div class="container-12">
        <ul class="social">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=octopus-demo.btempurl.com/" title="Facebook" class="fa fa-facebook"></a>
            </li>
            <li>
                <a href="https://twitter.com/share?url=octopus-demo.btempurl.com" title="Twitter" class="fa fa-twitter"></a>
            </li>
            <li>
                <a href="https://plus.google.com/share?url=octopus-demo.btempurl.com" title="Google+" class="fa fa-google"></a>
            </li>
            <!--<li>
                <a href="#" title="Instagram" class="fa fa-instagram"></a>
            </li>-->
            <div class="clear"></div>
        </ul>
        <p>Copyright 2016 <em>Octopus</em>. All Rights Reserved</p>
    </div>
</footer>



<!--This is the example of script for notifications. For details find in google "NotifyMe" or ask Alexey Budyanskiy:)-->
<script type="text/javascript">
        $('.error').on('click', function () {
            $(this).notifyMe(
                'bottom',
                'error',
                'Fill all fields',
                'You must fill all fields before uploading photo',
                200,
                1500
            );
        });
</script>