@model IEnumerable<Octopus_project.Models.Photo>

<table class="table">
    <tr>
        <td>Id</td>
        <td>PublisherName</td>
        <td>PublisherSurname</td>
        <td>Photo</td>
        <td>Likes</td>
    </tr>
    @foreach (var photo in Model)
    {

        <tr>
            <td>@photo.PhotoId</td>
            <td>@photo.PublisherName</td>
            <td>@photo.PublisherSurname</td>
            <td>
                <img src="../Content/@photo.Path" alt="" />
            </td>
            <td>@photo.Likes</td>
    </tr>
    }
</table>

